@{
    Layout = null;
    ViewBag.Title = "为用户分配角色";
}
@using MvcApplication1.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="/Scripts/datapattern.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <link href="/Content/jquery-easyui-1.5.5.2/themes/default/easyui.css" rel="stylesheet" />
    <link href="/Content/jquery-easyui-1.5.5.2/themes/icon.css" rel="stylesheet" />
    <link href="/Content/admin.css" rel="stylesheet" />
    <script src="/Content/jquery-easyui-1.5.5.2/jquery.min.js"></script>
    <script src="/Content/jquery-easyui-1.5.5.2/jquery.easyui.min.js"></script>
    <script src="/Content/common.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script type="text/javascript">

        function subSetRoleForm() {
            $("#form1").submit();
        }
    </script>
</head>
<body>
    <div>
        为用户
        @{
            List<User> user = (List<User>)ViewBag.UserInfo;
            <span style="font-size:28px;color:#f00;"></span> @user[0].Name
        }&nbsp;分配角色
        @{
            <!--获取后台查询好的数据-->
            using (Ajax.BeginForm("SetUserRoleInfo", new { }, new AjaxOptions() { OnSuccess = "afterSet", HttpMethod = "post" }, new { id = "form1" }))
            {
                
                //隐藏域用来存储用户ID提交后台
                <input type="hidden" name="userId" value="@user[0].ID" />
                //所有角色
                List<Role> roleInfoList = (List<Role>)ViewBag.RoleInfo;
                //用户已有的角色编号
                int roleId = user[0].fkRole;

                foreach (var roleInfo in roleInfoList)
                {
                     string roleName = "cba_" + roleInfo.ID;
                    //判断当前用户是否已经有了角色
                    if (roleId==(roleInfo.ID))
                    {
                        <input type="checkbox" name="ID" value="@roleInfo.ID" checked="checked" /> @roleInfo.Name <br />
                    }
                    else
                    {
                        <input type="checkbox" name="ID" value="@roleInfo.ID" /> @roleInfo.Name <br />
                    }

                }

            }
        }
    </div>
</body>
</html>